*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.css{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    background: #ABA5A5;
padding: 36px 0;
}
header .css{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
    gap: 50px;
}
menu li a{
font-size: 20px;
font-weight: 500;
line-height: 26.38px;
color: black;
text-decoration: none;
}
.btn{
    padding: 7px 45px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 300px;
    border: none;
}